body {
    color: rgb(235, 6, 6);
    background: black;
    margin:0px;
    font-family: "Saira", sans-serif;
}

header {
    border-bottom:solid 2px rgb(228, 108, 10);
    padding: 20px;
    font-size: 32px;

}     

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img{
    height: 200px;
}